# AI & LangChain
langchain-google-vertexai
langchain-community
langchain-core<1.0.0
unstructured[pdf]
pdfplumber
google-cloud-documentai
google-cloud-storage

# Database Drivers (The "Raw SQL" Stack)
cloud-sql-python-connector[pg8000]
pg8000
sqlalchemy

# Web App
streamlit
python-dotenv
pytest
pytest-mock
ragas==0.4.1
pandas==2.3.3
plotly==6.5.0

# Backend API
fastapi
uvicorn
python-multipart
